p {
    font-size: 20px;
    color: #03e74f;
    text-align: center;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #c20a0a;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 1, 1, 0.909);
    transition: transform 0.3s ease, box-shadow 0.3s ease
}